/* Компоненты. Отдельные видимые элементы интерфейса */
/* Заголовки */
h1 {
    margin-bottom: 40px;

    text-align: center;
    font-size: 3em;
    color: #650772;
    text-shadow: 0 10px 20px rgba(22 22 22 / .7);

}

nav h2 {
    margin-bottom: 40px;

    text-align: center;
    font-size: 30px;
    color: #650772;
    text-shadow: 0 10px 20px rgba(22 22 22 / .7);
}

section h2 {
    margin-bottom: 40px;

    text-align: center;
    font-size: 30px;
    color: #650772;
    text-shadow: 0 10px 20px rgba(22 22 22 / .7);
}

/* Изображения */
.my-photos {
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #b9b4b4;
    box-shadow: 0 4px 10px rgba(0 0 0 / .15);

    width: 280px;
    height: 280px;
}

section img {
    margin: 20px auto;

    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    box-shadow: 20px 10px 10px rgba(0 0 0 / .7);
}

/* Таблица */
table {
    margin: 20px 0;

    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;

    text-align: left;

    border: 2px solid #1d0101;
}

th {
    font-weight: 600;
    color: white;
    background-color: #c53be0;
}

tr:nth-child(even) {
    background-color: #f8f9fc;
}

tr:hover {
    background-color: #bc17dd;
}

/* Ссылки */
nav a {
    color: #760685;
    text-decoration: none;
}

section a {
    color: #760685;
    text-decoration: underline;
}

nav a:hover,
section a:hover {
    font-weight: bold;
    text-decoration: underline;
}
