/* Макет. Структура страницы. То как элементы располагаются на странице */
.container {
    margin: 0 auto;
    padding: 40px;

    max-width: 1200px;

    border-radius: 30px;
    border-left: 3px solid #8a0c9b;
    box-shadow: 20px 15px 5px #8a0c9b;
    background-color: rgba(255 255 255 / .35);
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 300px;
    padding: 40px;

    border-radius: 30px;
    border-left: 3px solid #8a0c9b;
    box-shadow: 10px 5px 5px #8a0c9b;

    background-color: rgba(255 255 255 / .5);
}

.task-info {
    margin-bottom: 30px;
    gap: 10px;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.task-info p {
    flex: 1;
    min-width: 300px;

    font-size: 20px;
    line-height: 2;
    text-align: justify;
}

section {
    margin: 40px 0;
}
